.wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective: 2px;
}

.img-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    color: black;
}

section{
    padding: 15%;
    text-align: right;
    line-height: 1.5;
}

.static {
    background: beige;
  }

h1, h2{
    font-size: 5vh;
    max-width: 30%;
    margin-left: 10%;
    color: white;
}

h3{
    font-size: 2rem;
}


.img1, .img2, .img3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.bg1{
    background-image: url(images/hill-house.jpg);
 
}

.bg2{
    background-image: url(images/boy.jpg);
}

.bg3{
    background-image: url(images/field-of-flowers.jpg);

}

