.wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective: 2px;
}

.section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:left;
    color: white;
}


.static {
    background: beige;
  }

h1{
    font-size: 7rem;
    max-width: 30%;
    margin-left: 10%;

}


.img1, .img2, .img3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.bg1{
    background-image: url(images/hill-house.jpg);
 
}

.bg2{
    background-image: url(images/boy.jpg);
}

.bg3{
    background-image: url(images/field-of-flowers.jpg);

}

